{% load static %}
<header class="w-full p-4 sticky top-0 z-10 transition-colors duration-300 ">
    <div class="flex items-center justify-center gap-8">
        <div class="logo">
            <img src="{% static 'heating/image/logo.svg' %}" width="300" alt="Noosphere Logo">
        </div>
        <nav class="">
            <ul class="flex gap-4 justify-center">
                <li><a href="{% url 'main' %}">
                        <h2 class="text-2xl">Калькулятор нагрева воды</h2>
                    </a></li>
                <li><a href="{% url 'room' %}">
                        <h2 class="text-2xl">Room</h2>
                    </a></li>
                <li><a href="{% url 'office_main' %}">
                        <h2 class="text-2xl">Office</h2>
                    </a></li>
            </ul>
        </nav>
    </div>
</header>