{% extends "heating/base.html" %}
{% block content %}
{% load static %}
<head>
<title>Помещение</title>
<link rel="stylesheet" href="{% static 'heating/css/room.css' %}">

<style>
    </style>
</head>
<body>


<form id="room-params" class="room-params">
    <div class="container_in_out">
        <div class="form-board">
            <label for="wall_a">Стена A</label>
            <div class="form-group">
                <label for="width_a">Ширина (мм):</label>
                <input type="number" id="width_a" name="width_a" step="0.01" required>
            </div>
            <div class="form-group">
                <label for="height">Высота (мм):</label>
                <input type="number" id="height_a" name="height_a" step="0.01" required>
            </div>
            <div class="form-group">
                <label for="layers-count_a">Количество слоев стены:</label>
                <select id="layers-count_a" name="layers-count_a" style="color: rgb(0, 0, 0)">
                    <option value="">Выберите количество слоев</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <!-- Добавьте больше опций, если необходимо -->
                </select>
            </div>
            <div id="layers-inputs-container_a"></div>
            
        </div>
        <div class="results-board" id="results_b">
            <div class="result">
                <label>Результаты вычислений:</label>
                <div class="form-group">
                    <label>Площадь стенки (м^2):</label>
                    <input type="text" id="square_a" readonly>
                </div>
                <div class="form-group">
                    <label>Объем стенки (м^3):</label>
                    <input type="text" id="cube_a" readonly>
                </div>
                <div class="form-group">
                    <label>Количество упаковок материала:</label>
                    <input type="text" id="count_a" readonly>
                </div>
                <div class="form-group">
                    <label>Cтоимость материала (rub):</label>
                    <input type="text" id="price_out_a" readonly>
                </div>
            </div>
        </div>
    </div>
    <div class="container_in_out">
        <div class="form-board">
            <label for="wall_b">Стена B</label>
            <div class="form-group">
                <label for="width_b">Ширина (мм):</label>
                <input type="number" id="width_b" name="width_b" step="0.01" required>
            </div>
            <div class="form-group">
                <label for="height_b">Высота (мм):</label>
                <input type="number" id="height_b" name="height_b" step="0.01" required>
            </div>
            <div class="form-group">
                <label for="layers-count_b">Количество слоев стены:</label>
                <select id="layers-count_b" name="layers-count_b" style="color: rgb(0, 0, 0)">
                    <option value="">Выберите количество слоев</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <!-- Добавьте больше опций, если необходимо -->
                </select>
            </div>
            <div id="layers-inputs-container_b"></div>
        </div>
        <div class="results-board" id="results_b">
            <div class="result">
                <label>Результаты вычислений:</label>
                <div class="form-group">
                    <label>Площадь (м^2):</label>
                    <input type="text" id="square_b" readonly>
                </div>
                <div class="form-group">
                    <label>Объем стенки (м^3):</label>
                    <input type="text" id="cube_b" readonly>
                </div>
                <div class="form-group">
                    <label>Количество упаковок материала:</label>
                    <input type="text" id="count_b" readonly>
                </div>
                <div class="form-group">
                    <label>Cтоимость материала (rub):</label>
                    <input type="text" id="price_out_b" readonly>
                </div>
            </div>
        </div>
    </div>
    <div class="container_in_out">
        <div class="form-board">
            <label for="wall__floor">Пол</label>
            <div class="form-group">
                <label for="width__floor">Ширина (мм):</label>
                <input type="number" id="width__floor" name="width__floor" step="0.01" required>
            </div>
            <div class="form-group">
                <label for="height__floor">Высота (мм):</label>
                <input type="number" id="height__floor" name="height__floor" step="0.01" required>
            </div>
            <div class="form-group">
                <label for="layers-count__floor">Количество слоев стены:</label>
                <select id="layers-count__floor" name="layers-count__floor" style="color: rgb(0, 0, 0)">
                    <option value="">Выберите количество слоев</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <!-- Добавьте больше опций, если необходимо -->
                </select>
            </div>
            <div id="layers-inputs-container__floor"></div>
        </div>
        <div class="results-board" id="results__floor">
            <div class="result">
                <label>Результаты вычислений:</label>
                <div class="form-group">
                    <label>Площадь  (м^2):</label>
                    <input type="text" id="square__floor" readonly>
                </div>
                <div class="form-group">
                    <label>Объем стенки (м^3):</label>
                    <input type="text" id="cube__floor" readonly>
                </div>
                <div class="form-group">
                    <label>Количество упаковок материала:</label>
                    <input type="text" id="count__floor" readonly>
                </div>
                <div class="form-group">
                    <label>Cтоимость материала (rub):</label>
                    <input type="text" id="price_out__floor" readonly>
                </div>
            </div>
        </div>
    </div>
    <div class="container_in_out">
        <div class="form-board">
            <label for="wall_top">Потолок</label>
            <div class="form-group">
                <label for="width_top">Ширина (мм):</label>
                <input type="number" id="width_top" name="width_top" step="0.01" required>
            </div>
            <div class="form-group">
                <label for="height_top">Высота (мм):</label>
                <input type="number" id="height_top" name="height_top" step="0.01" required>
            </div>
            <div class="form-group">
                <label for="layers-count_top">Количество слоев стены:</label>
                <select id="layers-count_top" name="layers-count_top" style="color: rgb(0, 0, 0)">
                    <option value="">Выберите количество слоев</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <!-- Добавьте больше опций, если необходимо -->
                </select>
            </div>
            <div id="layers-inputs-container_top"></div>
        </div>
        <div class="results-board" id="results_top">
            <div class="result">
                <label>Результаты вычислений:</label>
                <div class="form-group">
                    <label>Площадь (м^2):</label>
                    <input type="text" id="square_top" readonly>
                </div>
                <div class="form-group">
                    <label>Объем стенки (м^3):</label>
                    <input type="text" id="cube_top" readonly>
                </div>
                <div class="form-group">
                    <label>Количество упаковок материала:</label>
                    <input type="text" id="count_top" readonly>
                </div>
                <div class="form-group">
                    <label>Cтоимость материала (rub):</label>
                    <input type="text" id="price_out_top" readonly>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="form-group">
        <label for="width">Ширина (мм):</label>
        <input type="number" id="width" name="width" step="0.01" required>
    </div>
    <div class="form-group">
        <label for="height">Высота (мм):</label>
        <input type="number" id="height" name="height" step="0.01" required>
    </div>
    <div class="form-group">
        <label for="room_size">Длина (мм)</label>
        <input type="number" id="room_size" name="room_size" step="0.01" required>
    </div> -->
    <div class="form-group">
        <label for="initial-temp">Начальная температура (°C):</label>
        <input type="number" id="initial-temp" name="initial-temp" step="0.01" required>
    </div>
    <!-- <div class="form-group">
        <label for="time">Время измерения(мин)</label>
        <input type="number" id="time" name="time" step="0.01">
    </div> -->
    <!-- <div class="form-group">
        <label for="layers-count">Количество слоев стены:</label>
        <select id="layers-count" name="layers-count" style="color: rgb(0, 0, 0)">
            <option value="">Выберите количество слоев</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option> -->
            <!-- Добавьте больше опций, если необходимо -->
        <!-- </select> -->
    <!-- </div> -->
    <!-- <div id="layers-inputs-container"></div> -->
    <!-- Поле для отображения периметра комнаты -->
    <!-- <div class="form-group">
        <label>Периметр стен (м):</label>
        <input type="text" id="perimeter" readonly>
    </div> -->
    <!-- Поле для отображения площади комнаты -->
    <div class="form-group">
        <label>Площадь стен (м^2):</label>
        <input type="text" id="square" readonly>
    </div>
    <div class="form-group">
        <label>Объем стен (м^3):</label>
        <input type="text" id="cube_wall" readonly>
    </div>
    <!-- Поле для отображения объема комнаты -->
    <div class="form-group">
        <label>Объем внутреннего воздуха (м^3):</label>
        <input type="text" id="cube_air" readonly>
    </div>
    <!-- Поле для отображения площади стенки -->
    <!-- <div class="form-group"> -->
        <!-- <label>Площадь стенки A(м^2):</label> -->
        <!-- <input type="text" id="square_a" readonly> -->
    <!-- </div> -->
    <!-- Поле для отображения площади стенки -->
    <!-- <div class="form-group"> -->
        <!-- <label>Площадь стенки B(м^2):</label> -->
        <!-- <input type="text" id="square_b" readonly> -->
    <!-- </div> -->
    <!-- Поле для отображения площади пола -->
    <!-- <div class="form-group">
        <label>Площадь пола/потолка (м^2):</label>
        <input type="text" id="square_floor" readonly>
    </div> -->
    
    <!-- Поле для отображения площади стыков -->
    <div class="form-group">
        <label>Площадь стыков (м^2):</label>
        <input type="text" id="square_drill" readonly>
    </div>

    <!-- цена -->
    <!-- <div class="form-group">
        <label>Цена материала (rub/м^2):</label>
        <input type="text" id="price_in">
    </div> -->

    <div class="form-group">
        <label>Стоимость материалов (rub):</label>
        <input type="text" id="price_out" readonly>
    </div>
    <!-- цена -->
    <!-- <div class="form-group"> -->
        <!-- <label>Использованные формулы: (rub):</label> -->
        <div type="text" id="formula" readonly></div>
    <!-- </div> -->

    <!-- <div class="form-group">
        <label for="wall-thickness">Толщина стены (мм):</label>
        <input type="number" id="wall-thickness" name="wall-thickness" step="0.01" required>
    </div>
    <div class="form-group">
        <label for="time">Время измерения(мин)</label>
        <input type="number" id="time" name="time" step="0.01">
    </div>
    <div class="form-group">
        <label for="material">Материал стены:</label>
        <select id="material" name="material">
            <option value="brick" data-lambda="0.7">Кирпич</option>
            <option value="concrete" data-lambda="1.1">Бетон</option>
            <option value="wood" data-lambda="0.15">Дерево</option>
            <option value="foam_concrete" data-lambda="0.3">Пенобетон</option>
            <option value="aerated_concrete" data-lambda="0.21">Газобетон</option>
            <option value="abs" data-lambda="0.17">АБС пластик</option>
            <option value="abs" data-lambda="221">Алюминий (ГОСТ 22233-83)</option>
            <option value="abs" data-lambda="0.22">Блок газобетонный</option>
            <option value="abs" data-lambda="75">Железо</option>
            <option value="abs" data-lambda="0.15">Пенобетон</option>
            <option value="abs" data-lambda="0.438">Дерево</option>

            <option value="insulation" data-lambda="0.04">Утеплитель</option>
            Добавьте другие материалы и их значения теплопроводности по желанию
        </select>
    </div> -->

    <div class="form-group" style="flex-basis: 100%; text-align: center;">
        <button type="submit" style="
        background-color: #4CAF50; /* Зеленый фон */
        color: white; /* Белый текст */
        padding: 14px 20px; /* Паддинги */
        margin: 8px 0; /* Отступы */
        border: none; /* Убрать границу */
        cursor: pointer; /* Курсор в виде указателя */
        width: 50%; /* Ширина кнопки */
        font-size: 16px; /* Размер шрифта */
        transition: all 0.3s ease 0s; /* Анимация для смены стилей */
    ">
        Рассчитать
    </button>
    </div>

    <div class="room">
    <div class="temperature" id ='temr'>Температура: {{ room.temperature }}°C</div>
    <div class="dimension width-dimension">2мм</div>
    <div class="dimension height-dimension">1мм</div>
    </div>
    
    <div id="external-temperature" class="external-temp">Внешняя температура в Москве: </div>
    <div id ="temp-into" class = "tempinto"></div>
    <!-- Элемент для отображения графика -->
    <div id="temperature-graph"></div>
    <div id ="temp-resistor" class = "temres"></div>
    <div id ="temp-q" class = "temq"></div>
    <div id ="temp-t" class = "temt"></div>
    </body>
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="{% static 'heating/js/room.js' %}"></script>
    

{% endblock %}