{% extends "heating/base.html" %}

{% block content %}
<head>
    <!-- <meta charset="UTF-8"> -->
<title>Помещение</title>
    <style>
        .room {
            width: 200px; /* Пропорциональное отображение ширины */
            height: 100px; /* Пропорциональное отображение длины */
            border: 10px solid black; /* Толщина стен */
            position: relative;
            margin: 20px;
        }
        .temperature {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 20px;
        }
    </style>
</head>
<body>
<div class="room">
    <div class="temperature">Температура: {{ room.temperature }}°C</div>
</div>
</body>
{% endblock %}
