{% extends "heating/base.html" %}

{% block content %}
  <!-- <h2>Симуляция нагрева воды</h2> -->
  <form method="post" id="container-form">
    {% csrf_token %}
    {{ form.volume.label_tag }} {{ form.volume }}
    {{ form.initial_temperature.label_tag }} {{ form.initial_temperature }}
    {{ form.target_temperature.label_tag }} {{ form.target_temperature }}
    {{ form.efficiency.label_tag }} {{ form.efficiency }}
    {{ form.power.label_tag }} {{ form.power }}

    <div id="formula">
        <p>Формула расчета энергии:<br>E = ((T2 - T1) * V * c) / (efficiency / 100) * 0.027(7)</p>
        <!-- <p>Формула расчета времени: time = E / power</p> -->
        <!-- <p>где T1 - начальная температура, T2 - конечная температура, V - объем, c - удельная теплоемкость (4.187 кДж/кг·°C), efficiency - КПД, power - мощность в кВт.</p> -->
        <p>где T1 - начальная температура<br>T2 - конечная температура<br>V - объем<br>c - удельная теплоемкость (4.187 кДж/кг·°C)<br>efficiency - КПД.</p>

    </div>

    <!-- <button type="button" id="calculate-btn">Посчитать</button> -->
  </form>

  <div id="results">
    <!-- <p>Потраченное время: <span id="time-spent">-</span> сек</p> -->
    <p>Потрачено энергии: <span id="energy-spent">-</span> кВт·ч</p>
  </div>

  <!-- <script>
    document.getElementById('calculate-btn').addEventListener('click', function() {
      const data = {
        'volume': document.getElementById('id_volume').value,
        'initial_temperature': document.getElementById('id_initial_temperature').value,
        'target_temperature': document.getElementById('id_target_temperature').value,
        'efficiency': document.getElementById('id_efficiency').value,
        // 'power': document.getElementById('id_power').value,
        'csrfmiddlewaretoken': '{{ csrf_token }}'
      };

      fetch('{% url "calculate_simulation" %}', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
          'X-CSRFToken': data.csrfmiddlewaretoken
        },
        body: JSON.stringify(data)
      })
      .then(response => response.json())
      .then(data => {
        // document.getElementById('time-spent').textContent = data.time_spent;
        document.getElementById('energy-spent').textContent = data.energy_spent;
      })
      .catch((error) => {
        console.error('Error:', error);
      });
    });
  </script> -->

   <script>
    const inputs = document.querySelectorAll('#container-form input');
    inputs.forEach(input => {
      input.addEventListener('input', calculateEnergy);
    });

    function calculateEnergy() {
      const data = {
        'volume': document.getElementById('id_volume').value,
        'initial_temperature': document.getElementById('id_initial_temperature').value,
        'target_temperature': document.getElementById('id_target_temperature').value,
        'efficiency': document.getElementById('id_efficiency').value,
        // 'power': document.getElementById('id_power').value,
        'csrfmiddlewaretoken': '{{ csrf_token }}'
      };

      fetch('{% url "calculate_simulation" %}', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
          'X-CSRFToken': data.csrfmiddlewaretoken
        },
        body: JSON.stringify(data)
      })
      .then(response => response.json())
      .then(data => {
        document.getElementById('energy-spent').textContent = data.energy_spent;
      })
      .catch((error) => {
        console.error('Error:', error);
      });
    }
  </script>
{% endblock %}