{% load static %}
<header class="w-full p-4 sticky top-0 z-10 transition-colors duration-300 ">
    <div class="flex items-center justify-center gap-8">
        <div class="logo">
            <img src="{% static 'heating/image/logo.svg' %}" width="300" alt="Noosphere Logo">
        </div>
        <nav class="">
            <ul class="flex gap-4 justify-center">
                <li><a href="#directions">
                        <h2 class="text-2xl">Калькулятор нагрева воды</h2>
                    </a></li>
                <!-- <li><a href="#philosophy">
                        <h2 class="text-2xl">ФИЛОСОФИЯ</h2>
                    </a></li>
                <li><a href="#scientists">
                        <h2 class="text-2xl">УЧЕНЫЕ</h2>
                    </a></li> -->
            </ul>
        </nav>
    </div>
</header>