.room {
    width: 800px;
    /* Пропорциональное отображение ширины 2м */
    height: 400px;
    /* Пропорциональное отображение длины 1м */
    border: 40px solid rgb(187, 140, 0);
    /* Толщина стен */
    position: relative;
    margin: 20px auto;
    /* display: flex; */
    display: none;
    justify-content: center;
    align-items: center;
}

.room::before,
.room::after {
    position: absolute;
    color: red;
    /* Цвет текста */
    font-size: 16px;
    /* Размер шрифта */
    z-index: 10;
    /* Убедитесь, что текст будет виден поверх других элементов */
}

/* Текст для верхней границы
.room::before {
top: -60px; /* Позиционирование над элементом */
/* left: 50%; Центрирование текста относительно ширины элемента */
/* transform: translateX(-50%); Сдвиг для точного центрирования */
/* } */
.container_in_out {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* Создает два столбца с равной шириной */
}


.room::after {
    content: attr(data-wall-thickness);
    /* Пример толщины стен */
    top: 50%;
    /* Позиционирование относительно высоты элемента */
    left: -100px;
    /* Позиционирование слева от элемента */
    transform: translateY(-50%) rotate(-90deg);
    /* Сдвиг для центрирования и поворот на 90 градусов */
}

.temperature {
    position: absolute;
    font-size: 20px;
}

.dimension {
    position: absolute;
    color: #000;
    font-size: 36px;
}

.width-dimension {
    top: 0px;
    left: 0;
    width: 100%;
    text-align: center;
}

.height-dimension {
    top: 180px;
    left: -10px;
    transform: rotate(-90deg);
    transform-origin: left top;
}

.dimension-line {
    position: absolute;
    border-top: 1px solid #000;
}

.width-line {
    top: -80px;
    width: 220px;
    /* Ширина + толщина стен */
    left: -40px;
}

.height-line {
    top: -40px;
    height: 120px;
    /* Высота + толщина стен */
    left: -120px;
}

.external-temp {
    margin-top: 10px;
    font-size: 20px;
}

#material {
    color: black;
}

#temperature-graph {
    width: 100%;
    height: 400px;
}

/* Стили при наведении курсора */
button:hover {
    background-color: #45a049;
    /* Немного темнее */
    transform: scale(1.05);
    /* Немного увеличить */
}

.room-params {
    display: flex;
    flex-wrap: wrap;
    max-width: 600px;
    /* Максимальная ширина формы */
    margin: 0 auto;
    /* Центрирование формы */
}

.form-board {
    border: 2px solid #000;
    /* Черная рамка толщиной 2px */
    padding: 10px;
    /* Отступы внутри рамки */
    margin: 10px 0;
    /* Отступы снаружи рамки */
}

.form-group {
    flex: 1 1 50%;
    /* Каждый блок займет половину ширины родителя */
    min-width: 200px;
    /* Минимальная ширина блока, чтобы избежать слишком узких полей на маленьких экранах */
    box-sizing: border-box;
    padding: 10px;
    /* Отступы внутри блока для визуального разделения */
}

.form-group label {
    color: rgb(255, 255, 255);
    width: 100%;
    /* Ширина элементов относительно их родителя */
    box-sizing: border-box;

}

.results-board {
    border: 2px solid #ccc;
    padding: 10px;
    margin: 10px 0;
}

.form-group input {
    color: rgb(0, 0, 0);
    width: 100%;
    /* Ширина элементов относительно их родителя */
    box-sizing: border-box;

}

.form-group select {
    color: rgb(0, 0, 0);
    /* background-color: rgb(0, 0, 0); */
    width: 100%;
    /* Ширина элементов относительно их родителя */
    box-sizing: border-box;
}

/* .option {
background-color: rgb(0, 0, 0);
color: rgb(0, 0, 0);
} */
.form-group button {
    margin-top: 20px;
    /* Отступ сверху для кнопки */
}

.form-group input[readonly] {
    background-color: #f3f3f3;
    /* Светло-серый фон */
    color: #686868;
    /* Темно-серый текст */
    border: 1px solid #dcdcdc;
    /* Граница в стиле */
    cursor: not-allowed;
    /* Курсор в виде знака "запрет" */
    opacity: 0.7;
    /* Немного прозрачности */
}