{% extends "office/base.html" %}
{% block content %}
<!DOCTYPE html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Офисный контроллер</title>
</head>
<body>
    <h1>Показатели в офисе:</h1>
    <div>Температура: <span id="temperature">--</span> °C</div>
    <div>Влажность: <span id="humidity">--</span>%</div>
    <div><span id="data"></span></div>
    
    <button id="showMeasurements">Показать все измерения</button>
    <table id="measurementsTable" style="display:none;">
    <thead>
        <tr>
            <th>Что измеряетсятся</th>
            <th>Измерение</th>
            <th>Единица измерения</th>
            <th>Дата измерения</th>
        </tr>
    </thead>
    <tbody>
        <!-- Здесь будут строки с данными -->
    </tbody>
    </table>
    <!-- <script>
        function fetchWeatherData() {
            fetch('/office/', { headers: { 'X-Requested-With': 'XMLHttpRequest' } })
                .then(response => response.json())
                .then(data => {
                    document.getElementById('temperature').textContent = data.temperature + ' °C';
                    document.getElementById('humidity').textContent = data.humidity + '%';
                })
                .catch(error => console.error('Ошибка:', error));
        }

        setInterval(fetchWeatherData, 5000);

        document.addEventListener('DOMContentLoaded', fetchWeatherData);
    </script> -->
    <!-- <script>
        var apiUrl = "{% url 'office_data_api' %}";
        function fetchData() {
            fetch(apiUrl) // Путь к API, который возвращает последние данные
                .then(response => response.json())
                .then(data => {
                    document.getElementById('temperature').textContent = data.temperature;
                    document.getElementById('humidity').textContent = data.humidity;
                });
        }
        
        // Вызов fetchData каждые 5 секунд
        setInterval(fetchData, 5000);
        
        // Первоначальный вызов при загрузке страницы
        fetchData();
        </script> -->
        <script>
            $(document).ready(function() {
                
                
            
                // Вызовите функцию fetchOfficeData при загрузке страницы
                fetchOfficeData();
                fillTable();
                setInterval(fetchOfficeData, 5000);
                setInterval(fillTable, 5000);
            });
            </script>
            <script>
                function fillTable() {
                    $('#showMeasurements').on('click', function() {
                        $.ajax({
                            url: 'api/measurements/', // Укажите правильный URL к вашему API
                            type: 'GET',
                            dataType: 'json',
                            success: function(data) {
                            var tableBody = $('#measurementsTable tbody');
                            tableBody.empty(); // Очистить текущие строки в таблице
                            if (data.length > 0) {
                                data.forEach(function(measurement) {
                                    console.log(measurement);
                                    var row = '<tr>' +
                                              '<td>' + measurement.name + '</td>' +
                                              '<td>' + measurement.rate + '</td>' +
                                            //   '<td>' + measurement.messerement_unit + '</td>' +
                                              '<td>' + measurement.date + '</td>' +
                                              '</tr>';
                                    tableBody.append(row);
                                });
                                $('#measurementsTable').show(); // Показать таблицу
                            } else {
                                tableBody.append('<tr><td colspan="3">Нет данных</td></tr>');
                                $('#measurementsTable').show();
                            }
                            },
                            error: function(xhr, status, error) {
                                console.error("Error: " + status + " " + error);
                            }
                        });
                    });
                }
            </script>
            <script>
                // Функция для получения опказателей темп и влажности
                function fetchOfficeData() {
                    $.ajax({
                        url: 'api/data/',
                        type: 'GET',
                        dataType: 'json',
                        success: function(data) {

                            if (!data.error) {
                                $('#temperature').text(data.temperature + '°C');
                                $('#humidity').text(data.humidity + '%');
                            } else {
                                $('#data').text('No data available');
                            }
                        },
                        error: function(xhr, status, error) {
                            // Обработка ошибки запроса
                            console.error("Error: " + status + " " + error);
                        }
                    });
                }
            </script>
</body>
</html>
{% endblock %}
