{% extends "office/base.html" %}
{% block content %}
<!DOCTYPE html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Офисный контроллер</title>
</head>
<body>
    <h1>Данные об офисе</h1>
    <div>Температура: <span id="temperature">--</span> °C</div>
    <div>Влажность: <span id="humidity">--</span>%</div>

    <!-- <script>
        function fetchWeatherData() {
            fetch('/office/', { headers: { 'X-Requested-With': 'XMLHttpRequest' } })
                .then(response => response.json())
                .then(data => {
                    document.getElementById('temperature').textContent = data.temperature + ' °C';
                    document.getElementById('humidity').textContent = data.humidity + '%';
                })
                .catch(error => console.error('Ошибка:', error));
        }

        setInterval(fetchWeatherData, 5000);

        document.addEventListener('DOMContentLoaded', fetchWeatherData);
    </script> -->
    <!-- <script>
        var apiUrl = "{% url 'office_data_api' %}";
        function fetchData() {
            fetch(apiUrl) // Путь к API, который возвращает последние данные
                .then(response => response.json())
                .then(data => {
                    document.getElementById('temperature').textContent = data.temperature;
                    document.getElementById('humidity').textContent = data.humidity;
                });
        }
        
        // Вызов fetchData каждые 5 секунд
        setInterval(fetchData, 5000);
        
        // Первоначальный вызов при загрузке страницы
        fetchData();
        </script> -->
        <script>
            $(document).ready(function() {
                // Функция для получения данных
                function fetchOfficeData() {
                    $.ajax({
                        url: 'api/data/', // URL к вашему API
                        type: 'GET',
                        dataType: 'json',
                        success: function(data) {

                            if (!data.error) {
                                $('#temperature').text(data.temperature + '°C');
                                $('#humidity').text(data.humidity + '%');
                            } else {
                                // Обработка случая, когда данных нет
                                $('#data').text('No data available');
                            }
                        },
                        error: function(xhr, status, error) {
                            // Обработка ошибки запроса
                            console.error("Error: " + status + " " + error);
                        }
                    });
                }
            
                // Вызовите функцию fetchOfficeData при загрузке страницы
                fetchOfficeData();
            });
            </script>
</body>
</html>
{% endblock %}
